.idea
node_modules
coverage
build
npm
.DS_Store
npm-debug.log
src/actions/
src/components/app.js
src/components/app.js.map
src/components/app.jsx
src/components/bioList.js
src/components/bioList.js.map
src/components/bioList.jsx
src/components/cvList.js
src/components/cvList.js.map
src/components/cvList.jsx
src/components/portrait.js
src/components/portrait.js.map
src/components/portrait.jsx
src/components/profilesList.js
src/components/profilesList.js.map
src/components/profilesList.jsx
src/components/title.js
src/components/title.js.map
src/components/title.jsx
src/data/bio.js
src/data/bio.js.map
src/data/cv.js
src/data/cv.js.map
src/data/profiles.js
src/data/profiles.js.map
src/index.js
src/index.js.map
src/reducers/index.js
src/reducers/index.js.map
src/registerServiceWorker.js
src/registerServiceWorker.js.map
package-lock.json
