@import 'variables';

// tablet
@media only screen and (min-width: $mobile-width-min) and (max-width: $mobile-width-max) {
  h1.mobile-only-header {
    font-size: 25px;
  }

  .mobile-specific-list {
    font-weight: 200;
    font-size: 14px;
    margin: 5px 5px 7px -15px;
  }

  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none !important;
  }
}

// desktop
@media only screen and (min-width: $desktop-width-min) {
  .mobile-only {
    display: none !important;
  }

  .section {
    margin-top: 20px;
    margin-left: 1px;
  }

  .desktop-only {
    display: block !important;
  }
}
